/dts-v1/;

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	compatible = "riscv-vp";
	model = "RISCV-VP Virtual Platform";

	chosen {
		bootargs = "rdinit=/init rw console=ttyS0,115200 earlycon=uart8250,mmio32,0x10000000";
		stdout-path = "/soc/serial@10000000:115200";
		linux,initrd-start = <0x0 0x84000000>;
		linux,initrd-end   = <0x0 0x8411db92>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		timebase-frequency = <1000000>;

		cpu@0 {
			device_type = "cpu";
			reg = <0>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdc_zicsr_zifencei";
			mmu-type = "riscv,sv39";

			intc: interrupt-controller {
				#interrupt-cells = <1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
			};
		};
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x20000000>;
	};

	soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

		clint@2000000 {
			compatible = "riscv,clint0";
			reg = <0x0 0x02000000 0x0 0x10000>;
			interrupts-extended = <&intc 3>, <&intc 7>;
		};

		plic: interrupt-controller@c000000 {
			compatible = "riscv,plic0";
			reg = <0x0 0x0C000000 0x0 0x400000>;
			interrupt-controller;
			#interrupt-cells = <1>;
			riscv,ndev = <31>;
			interrupts-extended = <&intc 11>;
		};

		serial@10000000 {
			compatible = "ns16550a";
			reg = <0x0 0x10000000 0x0 0x100>;
			clock-frequency = <1843200>;
			interrupt-parent = <&plic>;
			interrupts = <1>;
			reg-shift = <2>;
			reg-io-width = <4>;
		};
	};
};
